.logo {
	width: 100px;
	margin-top: 30px;
	margin-left: 30px;
}

.nav{
	margin-top: 25px;
	margin-left: 30px;
}
.main{
	margin-bottom: 7.5px;
	
}
.main1{
	color: red;	
}
.news{
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}
.news1{
	color: blue;
}
.contact{
	margin-top: 7.5px;
}
.contact1{
	color: blue;
}
a{
	text-decoration: none;
}
.img{
	margin-left: 30px;
	margin-top: 22.5px;
	width: 1170px;
}
li{
	margin:7.5px;
}
.news2{
	color: red;
}
.date{
	width: 57px;
	margin-left: 30px;
	margin-top: 35px;
	margin-bottom: 25px;
}
h2{
	margin-left: 30px;
}
.wom{
	width: 270px;
	margin-top: 21px;
	margin-left: 30px;
	/*margin-bottom: 30px;*/
}
.par{
	margin-top: 30px;
	margin-left: 30px;
}
.date2{
	width: 57px;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 23px;
}
.des{
	width: 270px;
	margin-left: 30px;
	margin-top: 22px;
}
.date3{
	margin-top: 59px;
	margin-left: 30px;
	margin-bottom: 22px;
}
.bla{
	width: 270px;
	margin-top: 22px;
	margin-left: 30px;
	margin-bottom: 30px;
}